<%= render :partial => "common/page_header" %>
<br>
<div class="span6 offset3 well">
  <div class="box clearfix" align="center">
    <div class="box form-container reset-password">
      <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "form-horizontal form-reset-password" }) do |f| %>
        <%= f.error_notification %>
        
        <legend>設定您的新密碼</legend>
        
        <%= f.input :reset_password_token, :as => :hidden %>
        <%= f.full_error :reset_password_token %>
        
        <%= f.input :password, :label => "設定新密碼", :required => true %>
        <%= f.input :password_confirmation, :label => "請確認新密碼", :required => true %>
      
        <div class="control-group">
          <div class="controls">
              <%= f.button :submit, "確認變更密碼", :class => "btn btn-warning btn-submit" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>