<div class="project-widget well info-box">
  <%= render_deal_action_bar(current_user, deal) %>
  <h4><span class="label label-info">商品名稱</span> <%= render_deal_name(deal) %></h4>
  <hr>
  <h4><span class="label label-info">賣方姓名</span> <%= render_deal_seller(deal) %></h4>
  <hr>
  <h4><span class="label label-info">商品規格</span> <%= render_deal_spec(deal) %></h4>
  <hr>
  <h4><span class="label label-info">保固狀態</span> <%= render_deal_warranty(deal) %></h4>
  <hr>
  <h4><span class="label label-info">相關配件</span> <%= render_deal_accessories(deal) %></h4>
  <hr>
  <h4><span class="label label-info">原始發票</span> <%= render_deal_original_receipt(deal) %></h4>
  <hr>
  <h4><span class="label label-info">欲售價格</span> <%= render_deal_price(deal) %></h4>
  <hr>
  <h4><span class="label label-info">聯絡方式</span> <%= render_deal_contact_by(deal) %></h4>
  <hr>
  <h4><span class="label label-info">交易方式</span> <%= render_deal_deliver_method(deal) %></h4>
  <hr>
  <h4><span class="label label-info">詳細說明</span></h4>
  <%= render_deal_detail(deal) %>
</div>