<%= render :partial => "common/page_header" %>
<div class="container">
  <div class="row">
    <div class="span12 toolbar" align="center">
      <%= link_to("我要刊登商品", new_deal_path, :class => "btn btn-info btn-large") %>
      <hr>
    </div>
    <div class="span12" align="center">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th width="50px">No.</th>
            <th width="80px">類別</th>
            <th width="50px"></th>
            <th class="text-center">名稱</th>
            <th width="100px">售價</th>
            <th width="100px">賣方</th>
            <th width="100px">發佈日期</th>
          </tr>
        </thead>
        <tbody>
          <% @deals.each_with_index do |deal, index| %>
            <tr>
              <td><%= render_deal_index_number(index, params[:page]) %></td>
              <td><%= render_deal_category_name(deal) %></td>
              <td><%= render_deal_photo_for_list(deal) %></td>
              <td class="text-center"><%= link_to(deal.name, deal_path(deal), :class => "deal-title") %></td>
              <td><%= render_deal_price(deal) %></td>
              <td><%= render_deal_user_name(deal) %></td>
              <td><%= render_deal_published_at(deal) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate(@deals) %>
    </div>
  </div>
</div>