<div class="span12 well" align="center">
  <h3>在 <%= @board.name %> 板刊登新交易</h3>
</div>
<div class="span12 well well-modified" align="center">
  <br />
  <div class="span6 offset3">
    <%= simple_form_for(@deal, :url => board_deals_path ) do |f| %>
    <%= f.input :name, :label => "商品名稱" %>
    <%= f.input :spec, :label => "商品規格" %>
    <%= f.input :warranty, :label => "保固期限" %>
    <%= f.input :accessories, :label => "相關配件" %>
    <%= f.input :original_receipt, :label => "原始發票" %>
    <%= f.input :deliver_method, :label => "交貨方式" %>
    <%= f.input :price, :label => "欲售價格" %>
    <%= f.input :detail, :as => "text", :label => "詳細說明" %>
    <%= f.button :submit, "送出" ,:disable_with => "請稍後...", :class => "submit-form btn-success" %>
    <% end %>
  </div>
</div>