<%= render :partial => "common/page_header" %>
<section class="portfolio">
  <div class="container">
    <div class="row">
      <div class="span7">
        <%= render :partial => "deal_photo_slide", :locals => {:deal => @deal} %>
      </div>
      <div class="span5">
        <%= render :partial => "deal_info_box", :locals => {:deal => @deal} %>
      </div>
    </div>    
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="well info-box">
          <%= render :partial => "deal_comments", :locals => {:comments => @comments} %>
          <%= render :partial => "deal_new_comment" %>
        </div>
      </div>
      <div class="span12">
        <div class="well info-box">
        TODO: 您可能也會喜歡...
        </div>
      </div>
    </div>
  </div>
</section>
<% content_for :javascripts do %>
<script type="text/javascript">
  $(document).ready(function () {
    $('#myCarousel').oneCarousel({
      easeIn: 'rotateIn',
      interval: 5000,
      pause: 'hover'
    });
  });
</script>
<% end -%>
<% content_for :stylesheets do %>
<style type="text/css">
  textarea.text {
    width: auto !important;
  }
</style>
<% end -%>