<%= render :partial => "common/page_header" %>
<br>
<div class="span6 offset3 well">
  <div class="box clearfix" align="center">
    <div class="box form-container login">
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "simple_form form-horizontal form-login"}) do |f| %>
        <legend>一般登入</legend>
        <div class="control-group">
          <%= f.label :email, :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :email, :required => false, :autofocus => true %>
          </div>
        </div>
        
        <div class="control-group">
          <%= f.label :password, "密碼", :class => "control-label" %>
          <div class="controls">
            <%= f.password_field :password, :required => false %>
          <span class="help-block">
            <%= link_to("忘記密碼？", new_password_path(resource_name), :class => "btn") if devise_mapping.recoverable? %>
          </span>
          </div>
        </div>
        
        <div class="control-group">
          <%= f.label :remember_me, "記得我", :class => "control-label" %>
          <div class="controls">
            <%= f.check_box :remember_me if devise_mapping.rememberable? %> 
          </div>
        </div>
        <%= button_tag("登入", :class => "btn btn-primary btn-submit") %>
      <% end %>
    </div>
  </div>
</div>
<div class="span6 offset3 well">
  <div class="box clearfix" align="center">
    <h3>使用Facebook登入，輕鬆交易二手Apple商品。</h3>
    <br>
    <div align="center">
    <%= link_to("使用 Facebook 登入", Setting.domain + user_omniauth_authorize_path(:facebook) , :class => "btn btn-facebook") %> 
    </div>
  </div>
</div>