<table class="table table-hover table-bordered">
  <th>編號</th>
  <th>名稱</th>
  <th></th>
  <th>價錢</th>
  <th>日期</th>
  <th>賣家</th>
  <tbody>
    <% @deals.each do |deal| %>
    <tr>
      <td><%= deal.id %></td>
      <td><%= link_to("#{deal.name}", board_deal_path(@board,deal)) %></td>
      <td><%= render_deal_photo(deal, "tiny") %></td>
      <td><%= deal.price %></td>
      <td><%= pretty_date(deal.created_at) %></td>
      <td><%= deal.user.name %></td>
    </tr>
    <% end %>
  </tbody>

</table>